node_modules
.DS_Store
stats.json
coverage
/dist
/prod
/build
*.log
*.tar.gz
npm-debug
.idea
bazel-*
venv
.venv
.mypy_cache
__pycache__
.Rproj.user
.RData
.Rhistory
conda
.cache
testdata
cy/*.c
*.pyd
