numpy
pandas
python-dotenv
absl-py
pip
pipdeptree
setuptools
pycodestyle
flake8
flake8-quotes
flake8-isort
flask
yapf
ipython
pyfakefs
pytest
pytest-env
mypy
#pixi
black

# To install mypy in vscode, install the 'mypy' plugin and run these:
# sudo apt install python3.8-venv python3.8-dev
# python3.8 -m venv ~/.mypyls
# ~/.mypyls/bin/pip install wheel
# ~/.mypyls/bin/pip install "https://github.com/matangover/mypyls/archive/master.zip#egg=mypyls[patched-mypy]"
